.policy-text { 
	padding: 1rem;
	text-align: left;

	& h1, p, h2 { 
		color: white;
		margin-bottom: 1rem;
	}

	@include respond(phone) { 
		& h1 { 
			font-size: 2rem !important;
			
		}
	}

	& > div { 
		margin-bottom: 2rem;
	}

	& h1 { 
		font-size: 3rem;
	}
}
