input,
textarea {
	border-radius: 20px;
	color: gray;
	padding-left: 12px;
	height: 50px;
	border: 1px solid gainsboro;
	box-shadow: 0 1px 3px rgba(209, 209, 209, 0.2);

	&:focus {
		outline: 1px solid red;
	}
}

.form {
	display: flex;
	flex-direction: column;
}

.input-container,
.text-area-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;

	label {
		margin-left: 8px;
		align-self: flex-start;
		margin-bottom: 0.4rem;
	}
}

.contact-us-form { 

  	& .text-area-container textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 100px;
		max-height: 1000px;
		padding-top: 12px;
	} 

	& .heading { 
		color: black;
		text-align: left;
		font-size: 2.7rem;
		margin-bottom: 2rem;
	}
}

.success-image-container {
	margin-top: 40px;
}


