.navbar {
	&-item {
		border-bottom: 2px solid transparent;
		justify-items: center;

		@include respond(desktop) { 
			&:hover:not(.navbar__logo) {
				border-bottom: 2px solid rgba($color-primary-1, 0.5);
			}
		}
	}

	&__logo {
		height: 100%;
		align-self: center;
		// margin-left: 1rem;

		@include respond(desktop) { 
			margin-left: 1rem;
		}

		& svg { 
			height: 100%;
		}
	} 

	&__services {
		justify-self: end;

		@include respond (tab-land) {
			// margin-right: -5rem;
			display: none;
		}
	}

	&__team {
		justify-self: end;
		margin-right: 5rem;

		@include respond(tab-land) {
			display: none;
		}
	}

	&__list {
		display: grid;
		grid-template-rows: 70px;
		grid-template-columns: 3fr 1fr 1fr;
		align-items: center;
		box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
		background-color: $color-background-dark-1;


		@include respond(tab-land) {
			// align-items: right;
			display: flex;
			flex-direction: row;
			justify-content: center;
			height: 80px;
		}

		& a { 
			height: 100%;


			@include respond(desktop) {
				// margin-left: 2rem;
			}

			@include respond(phone) {
				margin-left: none;
			}
		}

		& * {
			color: white;
			font-weight: 700;
			font-size: large;

			@include respond(tab-port) {
				font-size: medium;
				font-weight: 600;
				align-items: right;
			}

			@include respond(phone) {
				font-size: small;
				font-weight: 500;
			}
		}
	}
}